<head>
<title>Investors Relations - Cybfi</title>
<meta name="description" content="Cybfi is a parental control company offering suicide prevention and content moderation AIs.">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <h1>Welcome to Project Cybfi Investors Relations</h1>
    <p>How can we help you today?</p>
    <details> <summary>What is Cybfi?</summary> <p>Cybfi is a nonprofit organization aimed at preventing sexual abuse in children and teens. We intend to do this by wielding the power of artifical intelligence (AI) to moderate content and children, using patterns to pick up on online grooming situations as well as real-life warning signs.</p> </details>
    <details> <summary>Do you have a business plan?</summary> <p>Yes we do! <a href="assets/plan.pdf">Click here.</a></p> </details>
    <details> <summary>What does your brand look like?</summary> 
        <p>Something like this:</p> 
        <img width="250px" src="assets/asher.png">
        <img width="250px"src="assets/sophie.png">
        <img width="250px" src="assets/cybfi-circle.png">
    </details>
    <details> <summary>Do you have a flyer?</summary> <p>We just so happen to have a flyer. <a href="assets/flyer.png">Click here</a></p>
    </details>
    <details> <summary>Who is the CEO?</summary>
        <p>Our founder and CEO is William (Trenton Lee) Kenzie. He is a software engineer and businessman. You can contact him <a href="mailto:william@kenzie.one">here</a>.</p> 
        <p>He has 7 Certiport Certifications. They can be found <a href="assets/certificates.pdf">here</a>.</p>
    </details>
</body>