:root {
    --dark: rgb(20, 20, 20);
    --light: rgb(255, 255, 255);

    --c1: var(--light);
    --c2: var(--dark);

    --left-color: var(--c1);
    --right-color: var(--c2);
}

body {
    background-color: var(--dark);
    margin: 0;
}

.side {
    display: grid;
    height: 80vh;
    overflow: hidden;
    place-items: center;
    position: absolute;
    width: 100%;
}

.side .title {
    font-family: "Rubik", sans-serif;
    font-size: 8vw;
    margin: 0 10vw;
    width: 80vw;
}

.side .fancy {
    font-family: "Lobster", cursive;
    font-size: 1.3em;
    line-height: 0.8em;
}

#leftSide {
    background-color: var(--left-color);
    width: 60%;
    z-index: 1;
}

#leftSide * {
    z-index: 1;
}

#leftSide .title {
    color: var(--dark);
}

#leftSide .fancy {
    color: var(--right-color);
}

#rightSide {
    z-index: 0;
    background-color: var(--right-color);
}

#rightSide .title {
    color: var(--light);
}

#rightSide .fancy {
    color: var(--left-color);
}