.text-center {
    height: 20vw;
    display: grid;
    place-items: center;
}

.text-center h1, h2, h3, h4, h5, p {
    font-family: 'Space Mono', monospace;
    font-size: clamp(1rem, 10vw, 2.5rem);
    color: white;
    padding: 0 clamp(5rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

.text-center h1 {
    font-size: clamp(1rem, 10vw, 2.5rem);
}

.text-center h5 {
    font-size: clamp(0.3rem, 7vw, 1.5rem);
}

.text-center p {
    font-size: clamp(0.3rem, 5vw, 1rem);
}